@model TestNetCalc.Models.MathExpression
@{
    ViewData["Title"] = "Calculator";
}


<div class="text-center">
    <h1 class="display-4">TEST NET CALC</h1>
    <p><a href="https://github.com/NovaStrikeexe/TESRCALC">Learn more about this project</a>.</p>
</div>

<body>
    <div class="box">
        <form action="Calc" method="post">
            <div class="display">
                <p><input id="NumberOne" name="NumberOne" type="text" value="@Model.NumberOne" runat="server">
                    <input id="NumberTwo" name="NumberTwo" type="text" value="@Model.NumberTwo" runat="server">
                    <input id="TypeOperation" name="TypeOperation" type="text" readonly="readonly"
                        value="@Model.TypeOperation" runat="server">
                    <input id="ResultOfMathExpression" name="ResultOfMathExpression" type="text" readonly="readonly"
                        value="@Model.ResultOfMathExpression" runat="server">
                </p>

            </div>
            <div class="keys">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p>
                    <input type="button" class="button pink" value="+" onclick='CLS_OPR("+")'>
                    <input type="button" class="button pink" value="*" onclick='CLS_OPR("*")'>
                    <input type="button" class="button black" value="CLS" onclick='cls("")'>
                    <input type="submit" class="button orange" value="=" asp-controller="Calculator" asp-action="Calc">
            </div>
        </form>

    </div>
</body>


<script>
    function cls(val) {
        document.getElementById("NumberOne").value = val;
        document.getElementById("NumberTwo").value = val;
        document.getElementById("TypeOperation").value = val;
    }
    function CLS_OPR(val) {
        document.getElementById("TypeOperation").value = val;
    }
</script>